.details--body {
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.section--white {
  width: 100vw;
  background: white;
}

.content--flex {
  display: flex;
  color: black;
  margin: 0 auto;
  width: 80vw;
  max-width: 960px;

  justify-content: space-between;
}

.details--header__bar {
  position: sticky;
  top: 0;
  left: 0;
}

.details--header__content {
  align-items: baseline;
}

.details--header__content h1 {
  font-size: 1em;
}

.details--header__content a {
  padding: 1rem;
}

.details--header__content a:hover {
  color: aqua;
  background: black;
  border-radius: 1em;
  padding: 1rem;
}

.details--image {
  padding: 0;
  padding-top: 2.5em;
  margin: 0;
  height: 60vh;
  width: 100vw;
  background-size: cover;
}

.details--tech {
  background: white;
}

.details--tech h1 {
  font-size: 1em;
}

.details--tech ul {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.tech__list {
  margin-top: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.tech__list--item {
  padding: 0.7rem;
  padding-bottom: 0.5rem;
  margin: 0.7rem;
  margin-bottom: 1rem;
  background: black;
  border-radius: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.9em;
  color: white;
  pointer-events: none;
}

.blurb {
  color: white;
}

.blurb h2 {
  margin-bottom: 0;
}

.blurb ul {
  margin: 0 auto;
  padding-top: 0;
  list-style: circle;
}

.blurb li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  pointer-events: none;
}

@media (max-width: 600px) {
  .details--body {
    font-size: 1.3em;
  }

  .details--header__content {
    flex-direction: column;
  }
  .details--header__content h1 {
    text-align: center;
  }
}
