.details--body {
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.section--white {
  width: 100vw;
  background: #f1f1f1;
}

.content--flex {
  display: flex;
  color: black;
  margin: 0 auto;
  width: 80vw;
  max-width: 960px;
  justify-content: space-between;
}

.details__content {
  margin: 0 auto;
  width: 80vw;
  max-width: 960px;
}

.details--header__bar {
  position: sticky;
  top: 0;
  left: 0;
}

.details--header__content {
  align-items: baseline;
}

.details--header__content h1 {
  font-size: 1em;
}

.details--header__content a {
  padding: 1rem;
}

.details--header__content a:hover {
  color: #f1f1f1;
  background: black;
  border-radius: 1rem;
  padding: 1rem;
}

.details--image {
  padding: 0;
  padding-top: 2.5em;
  margin: 0;
  height: 60vh;
  width: 100vw;
  background-size: cover;
}

.details--tech {
  background: #f1f1f1;
}

.details--tech h1 {
  font-size: 1em;
}

.details--tech ul {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.tech__list {
  margin-top: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tech__list--item {
  padding: 0.5rem;
  background: black;
  border-radius: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: #f1f1f1;
  pointer-events: none;
}

.blurb {
  color: #f1f1f1;
}

.blurb h2 {
  margin-bottom: 0;
}

.blurb ul {
  margin: 0 auto;
  padding-top: 0;
  list-style: circle;
}

.blurb li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  pointer-events: none;
}

.github--footer {
  text-align: center;
  color: #f1f1f1;
  font-weight: bold;
}

.github--link {
  color: #00C6CF;
}

@media (max-width: 600px) {
  .details--body {
    font-size: 1.3em;
  }

  .details--header__content {
    flex-direction: column;
  }
  .details--header__content h1 {
    text-align: center;
  }
}
