.logo__elektro:hover::after {
  content: ' (professional)';
  font-size: 3em;
  color: #f1f1f1;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.9em;
}

.elektro__title {
  align-self: center;
}

.elektro__container {
  position: absolute;
  top: 0;
  width: 100vw;
  display: block;
}

.elektro__list--container {
  max-width: 80vw;
  margin: 0 auto;
}

.elektro__list {
  float: right;
  width: 30em;
}

.elektro__item {
  color: #00C6CF;
  padding: 0 1em;
  text-shadow: 0 0 2px black;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all;
  transition-duration: 0.4s;
}

.elektro__item:hover {
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 0 10px 0 10px;
}

.coming__body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1470204901966-f23336e57278?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.coming__body--title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f1f1f1;
  font-size: 3em;
}

@media (max-width: 600px) {
  .elektro__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .elektro__list {
    width: 100vw;
    float: none;
  }

  .elektro__item {
    font-size: 1.5rem;
  }

  .elektro__list--container {

  }
}
