.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url(/img/shoppers.jpg) no-repeat 50% 0;
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
}

.glitch__img2 {
	background: url(/img/tetris.jpeg) no-repeat 50% 0;
}

.glitch__img3 {
	background: url(/img/tetris-1.jpg);
	background-size: cover;
}

.glitch__img4 {
	background: url(/img/tea-1.jpeg);
}
