.container {
  background: #e5e7e7;
  font-family: 'Open Sans Condensed', serif;
}

.ding {
  color: #f1f1f1;
}

.container>div {
  overflow: initial !important;
}

.container>div>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltext {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'IM Fell English', serif;
  font-variant-ligatures: common-ligatures;
  line-height: normal;
}

.number__block--tools {
  color: #E5E7E7;
  font-family: 'Shadows Into Light', sans-serif;
  text-align: center;
  width: 15vw;
  font-size: 20em;
}

.tools--title {
  font-size: 2em;
  color: #E5E7E7;
  display: inline-block;
  position: relative;
}

.tooltext__container {
  min-width: 300px;
  width: 50vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  background: rgba(229, 231, 231, 0.5);
  box-shadow: 1rem 1rem 4rem black;
}

.tooltext__container h1 {
  font-family: 'IM Fell English', serif !important;
  font-weight: normal;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  margin: 0;
  padding-top: 1rem;
}

.subtitle {
  margin: 0;
  white-space: nowrap;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text__container p {
  margin: 0;
  padding-bottom: 0.5em;
}

.linky {
  pointer-events: all;
  cursor: pointer;
  padding: 0 0.5em;
  border-radius: 1rem;
  color: #43464B;
  background: #e5e7e7;
  font-family: 'Open Sans Condensed', sans-serif;
}

.linky:hover {
  background: #43464B;
  color: #e5e7e7;
}

.toolslopeBegin {
  background-color: #43464B;
  background-size: cover;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.toolslopeEnd {
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.toolslopeBegin,
.toolslopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
}

@media (max-width:600px) {
  .number__block--tools {
    margin-top: -3em;
  }

  .tools--title {
    font-size: 1em;
  }

  .subtitle {
    font-size: 0.7em;
  }

  .number__block--tools {
    font-size: 10em;
  }

  .link__section {
    font-size: 0.5em;
  }
}
